/* flex-project style sheet */

* {
    font-family: "Roboto";
}

.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    padding: 0px 100px;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.linkbox {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex end;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.sec1 {
    display: flex;
    background-color: #1f2937;
    /* justify-content: flex-end; */
    height: 500px;
    align-items: center;
    padding: 0px 100px;
}

.left1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 0 30px;
    /* gap: 0 50px; */
}

.right1 {
    display: flex;
    flex-basis: 80%;
    background-color: gray;
    height: 200px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.left1top {
    font-size: 48px;
    font-weight: 900;
}

.left1mid {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.btext {
    color: #f9faf8;
    font-size: 20px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 80px;
}

.top2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937; 
    padding: 20px;
}

.bottom2 {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 18px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}

.boxn {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.caption {
    max-width: 120px;
    text-wrap: wrap;
    font-size: 10px;
    text-align: center;
}

.sec3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    max-width: 850px;
    text-align: left;
    padding: 50px 100px 0 100px;
}

.speaker {
    text-align: right;
    font-size: 18px;
    max-width: 850px;
    padding-bottom: 50px;
    font-weight: 800;
}